.player-container {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;

	input {
		width: 100%;
		margin: 16px 0px;
	}

	.btn {
		background: none;
		border: none;
		font-size: 16px;
		cursor: pointer;
	}

	.circular-btn {
		width: 32px;
		height: 32px;
		border-radius: 50px;
		color: white;
		border: none;
		background: #464646;
	}

	.back-forth-btn {
		color: #808080;
	}

	.play-pause-btn {
		font-size: 42px;
		color: white;
	}

	.play-pause-btn:focus {
		outline: none;
	}

	.action-buttons {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.center-actions {
		display: flex;
        align-items: center;
        width: 200px;
        justify-content: space-evenly;
	}
}

.song-title {
	font-size: 35px;
	font-weight: bold;
	padding: 0;
	margin: 0;
}

.song-artist {
	font-size: 15px;
	padding: 12px 0px;
	margin: 0;
}

.seeker {
	width: 100%;
	-webkit-appearance: none;
	appearance: none;
	height: 4px;
	border-radius: 2px;
	background: #808080;
	outline: none;
	margin: 10px 0;
}

.seeker::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #fff;
	cursor: pointer;
}

.seeker::-moz-range-thumb {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #fff;
	cursor: pointer;
}

@media (max-width: 600px) {
	.player {
		padding: 15px;
		border-radius: 10px;
	}

	.player-controls button {
		padding: 8px 16px;
	}

	.song-info p {
		font-size: 1rem;
	}

	.song-info p:last-child {
		font-size: 0.8rem;
	}
}

