.search-bar {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  background-color: #282828;
  border: none;
  color: white;
  border-radius: 6px;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  background-color: #282828;
  border: none;
  color: white;
  border-radius: 6px;
}

.input-icon {
  color: #6c6c6c;
}

.search-bar input:focus {
  outline: none; 
}

@media (max-width: 768px) {
  .search-bar {
    flex-direction: column;
    padding: 5px;
  }

  .search-bar input {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .search-bar {
    padding: 2px;
  }

  .search-bar input {
    font-size: 14px;
    padding: 8px;
  }
}
