.song-list {
    flex-grow: 1;
    overflow-y: auto;
}

.song-info img {
    width: 370px;
    height: 370px;
    object-fit: cover; 
    border-radius: 6px;
    border-radius: 6px;
    margin: 10px 0px;
}

.song-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.song-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 50px;
}

.song-name {
    margin: 0;
    padding: 4px 0px;
    font-size: 18px;
    color: #ffffff;
}

.song-artist {
    margin: 0;
    padding: 4px 0px;
    font-size: 14px;
    color: #808080;
}

.song-item.active {
    border-radius: 6px;
    background-color: #282828;
}

@media (max-width: 768px) {
    .song-item img {
      width: 40px;
      height: 40px;
    }
  
    .song-name {
      font-size: 16px;
    }
  
    .song-artist {
      font-size: 12px;
    }
  }
  
  @media (max-width: 480px) {
    .song-item img {
      width: 30px;
      height: 30px;
    }
  
    .song-name {
      font-size: 14px;
    }
  
    .song-artist {
      font-size: 10px;
    }
  }
  