.tabs {
    display: flex;
    margin-bottom: 20px;
    justify-content: start;
}

.tabs button {
    background: none;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
}

.tabs button.active {
   font-weight: bold;
}