.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

.spotify-logo {
	height: 44px;
	width: 152px;
}

.app {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	/* flex-direction: column; */
	height: 100vh;
	padding: 24px;
	background-color: #181818;
	color: white;
}

.first-section {
	width: 250px;
}

.second-section {
	width: 450px;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@media (max-width: 768px) {
	.AppWrapper {
		padding: 10px;
	}

	.PlayerWrapper {
		max-width: 100%;
	}
}